﻿@using SC.Core.Domain;
@model IList<GenericWorker>

@{
    ViewData["Title"] = "Home Page";
}

<br/>
Company salary total:<label id="lblCompanySalary">N/A</label>
<input type="button" class="btn btn-primary" data-toggle="modal" data-target="#calculateCompanySalaryModal" style="margin-left:47px; margin-top:10px" 
        value="Calculate salary for company" />
<input type="button" class="btn btn-primary" style="margin-top:10px" onclick="addNewSubordinate('0')" value="Add worker" />

<partial name="~/Views/Home/WorkerControl.cshtml" model="Model">

    <input type="button" id="btnShowModal" data-toggle="modal" data-target="#addSubordinateModal" style="display:none" />
    <input type="button" id="btnShowSalaryModal" data-toggle="modal" data-target="#calculateSalaryModal" style="display:none" />

    <div class="modal fade" id="addSubordinateModal" tabindex="-1" role="dialog" aria-labelledby="addSubordinateModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Add New Subordinate</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Name:</label>
                        <div class="col-sm-5">
                            <input type="text" id="tbxName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Enrollment Date:</label>
                        <div class="col-sm-5">
                            <input type="text" id="tbxDate" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Type:</label>
                        <div class="col-sm-5">
                            <select id="ddlType" class="form-control">
                                <option value="0">Employee</option>
                                <option value="1">Manager</option>
                                <option value="2">Sales</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="createNewSubordinate()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="calculateSalaryModal" tabindex="-1" role="dialog" aria-labelledby="calculateSalaryModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Calculate salary on date</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Date:</label>
                        <div class="col-sm-5">
                            <input type="text" id="tbxDate0" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="calculateWorkerSalary()" data-dismiss="modal">Calculate</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="calculateCompanySalaryModal" tabindex="-1" role="dialog" aria-labelledby="calculateSalaryModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Calculate salary on date</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Date:</label>
                        <div class="col-sm-5">
                            <input type="text" id="tbxDate2" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="calculateSalaryForCompany()" data-dismiss="modal">Calculate</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#tbxDate').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                maxDate: "0d",
                dateFormat: 'dd.mm.yy'
            });
            $('#tbxDate0').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                maxDate: "0d",
                dateFormat: 'dd.mm.yy'
            });
            $('#tbxDate2').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                maxDate: "0d",
                dateFormat: 'dd.mm.yy'
            });
        });

        function addNewSubordinate(parentId) {
            window.parentId = parentId;
            $("#btnShowModal").click();
        }
        function calculateSalary(workerId) {
            window.workerId = workerId;
            $("#tbxDate0").val("");
            $("#btnShowSalaryModal").click();
            
        }
        function createNewSubordinate() {
            $.ajax({
	            url: '@Url.Action("CreateNewSubordinate", "Home")',
                type: "POST",
                data: { name: $("#tbxName").val(), date: $("#tbxDate").val(), typeId: $("#ddlType option:selected").val(), guid: window.parentId },
                success: function (data) {
                    alert('Worker succsessfuly created');
                    window.location.href = '@Url.Action("Index","Home")';
	            }
            });
        }
        function calculateWorkerSalary() {
            $.ajax({
	            url: '@Url.Action("CalculateSalary", "Home")',
                type: "POST",
                data: { date: $("#tbxDate0").val(),  guid: window.workerId },
                success: function (data) {

                    $("#lblSalary_" + window.workerId).html(data);
	            }
            });
        }
        function calculateSalaryForCompany() {
            $.ajax({
	            url: '@Url.Action("CalculateCompanySalary", "Home")',
                type: "POST",
                data: { date: $("#tbxDate2").val() },
                success: function (data) {

                    $("#lblCompanySalary").html(data);
	            }
            });
        }
    </script>
