﻿@using SC.Core.Domain;
@model IList<GenericWorker>

@foreach (GenericWorker worker in Model)
{
    <div style="margin-top:10px; border:solid 1px lightGray; padding:10px;width:45%; margin-bottom:4px; margin-left:5px">
        <div class="row">
            <label class="col-sm-4 col-form-label">Name:</label>
            <div class="col-sm-5">
                <label>@worker.Name</label>
            </div>
        </div>
        <div class=" row">
            <label class="col-sm-4 col-form-label">Type:</label>
            <div class="col-sm-3">
                @{
                    string emplType = "Employee";

                    if (worker is Manager)
                    {
                        emplType = "Manager";
                    }
                    else if (worker is Sales)
                    {
                        emplType = "Sales";
                    }
                }
                <label>@emplType</label>
            </div>
            <div class="col-sm-3">
                @if (worker as Emploeyee == null)
                {
                    <input type="button" class="btn btn-primary" onclick="addNewSubordinate('@worker.Id')" value="Add subordinate" />
                }
            </div>
        </div>
        <div class="row">
            <label class="col-sm-4 col-form-label">Base Rate:</label>
            <div class="col-sm-5">
                <label>@worker.BaseRate</label>
            </div>
        </div>
        <div class=" row">
            <label class="col-sm-4 col-form-label">EnrollmentDate:</label>
            <div class="col-sm-5">
                <label>@worker.EnrollmentDate.ToString("dd.MM.yyyy")</label>
            </div>
        </div>
        <div class=" row">
            <label class="col-sm-4 col-form-label">Salary:</label>
            <div class="col-sm-3">
                <label id="lblSalary_@worker.Id">N/A</label>
            </div>
            <div class="col-sm-4">
                <a href="#" onclick="calculateSalary('@worker.Id'); return false;">Calculate salary</a>
            </div>
        </div>
    </div>
    @if (worker is ITopManagment)
    {
        <div style="margin-left:10px">
            <partial name="~/Views/Home/WorkerControl.cshtml" model="(worker as ITopManagment).Subordinates">
        </div>
    }
}
